POSTGRES_DB=national_parks
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

LEGACY_DB=national_parks_legacy
CORE_DB=national_parks
LEGACY_SCHEMA=legacy
CORE_SCHEMA=core
ANALYTICS_SCHEMA=analytics
METADATA_SCHEMA=metadata

LEGACY_DUMP_FILENAME=NP_Database_postgres_Group1.dump
LEGACY_DUMP_CONTAINER_PATH=/sources/NP_Database_postgres_Group1.dump
LEGACY_SKIP_EXTENSIONS=ogr_fdw,pgrouting,pointcloud,pointcloud_postgis

